<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="/dashboard.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMY0jA6sHwlUJp3NEuQbsH+0lX7Vgf4bM2P0A6" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZv4uq5p5XAN//8c5hY6QiRrIi+fbjpYw+sbW2zm9C7sH1L1RZ9ZW5C+kaPkw1n" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZv4uq5p5XAN//8c5hY6QiRrIi+fbjpYw+sbW2zm9C7sH1L1RZ9ZW5C+kaPkw1n" crossorigin="anonymous">
        <script src="/dashboard.js"></script>
</head>
    <body>
        <div class="maindiv">
            <div class="homeleftdiv">
                <div id="logodiv">
                    <h1> E-CART</h1>
                </div>
                <div id="sidenav">
                    
                    <ul>
                        <li id="category-field"><a>Category</a>
                            <div id="category-dropdown">
                                <a>All Categories</a>
                                <a>Add Category</a>
                            </div>
                        </li>
                        <li id="product-field"><a>Products</a>
                            <div id="product-dropdown">
                                <a>All Products</a>
                                <a>Manage Products</a>
                            </div>
                        </li>
                        <li id="analytics-field"><a>Analytics</a>
                            <div id="analytics-dropdown">
                                <a>Products Analytics</a>
                                <a>Orders Analytics</a>
                                <a>Customer Analytics</a>
                            </div>
                        </li>
                        <li><A>About</A></li>
                        <li><A>Contact Us</A></li>
                    </ul>
                </div>
            </div>
            <div class="homerightdiv">
                <div id="topnav">
                    <a>Home</a>
                    <a>Cart</a>
                    <a><i class="fa-solid fa-circle-user"></i>User</a>
                   </div>
                   <div id="scrolldiv">
                     <h1>data</h1>



                   </div>
            </div>
         
           
        </div>
    </body>
</html>